DATABASE_URL = mongodb://localhost:27017/
DB_NAME = fast_api_db

SECRET_KEY = "bGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
ALGORITHM = "HS256"



TEST_DATABASE_URL = mongodb://localhost:27017/
TEST_DB_NAME = fastapi_test_db
